/*  COLOR STYLES */
:root {
    --page-color: #FFFFFF;
    --activity-color: #2196F3;
    --main-text-color:#212121;
    --secondary-text-color: #757575;
    --secondary-footer-text-color: #FFFFFF60;
    --footer-background-color: #2F303A;
}

/* START COMMON STYLES */
body {
    font-family: Roboto, sans-serif, Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--page-color);
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--page-color);
}
footer {
    background-color: var(--footer-background-color);
}
button {
    cursor: pointer;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* END COMMON STYLES */

/* START HEADER STYLE*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
 }
.logo {
    padding: 0;
    margin: 0;

    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}
.color-logo {
    color: var(--activity-color);
}
.main-nav,
.menu-nav,
.menu-nav-contact {
    display: flex;
    align-items: center;
  
}
.menu-nav-contact {
    margin-left: auto;
}
.menu-nav {
    margin-left: 93px;
}
.menu-item {
    display: block;
    padding: 33px 0 31px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color:var(--main-text-color);
}
.menu-item.contact {
    font-style: normal;
    color: #757575;
}
.menu-nav .menu-nav-item:not(:last-child) {
    margin-right: 50px;
}
.menu-nav-contact .menu-nav-item:not(:last-child) {
    margin-right: 50px;
}
/* END HEADER STYLE*/

/* START HERO STYLE*/
.hero-title{
    margin-bottom: 30px;
    margin-top: 0;
}
.order {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    
    color: var(--page-color);
    background-color: var(--activity-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* END HERO STYLE*/

/* START ADVANTAHES STYLE */
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 67px;
    margin-bottom: 94px;
}
.advantages-list .item {
    width: 270px;
    margin-right: 30px;
}
.advantages-list .item:nth-child(4n) {
    margin-right: 0;
}
.advantages-item {
    margin: 0 0 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-text-color);
}
.advantages-description {
    margin: 10px 0 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}
/* END ADVANTAHES STYLE */

/* START DOING STYLE */
.section-title {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.doing-list {
    display: flex;
    flex-wrap: wrap;
}
.doing-list .item:not(:nth-child(3n)) {
    margin-right: 30px;
}
/* END DOING STYLE */

/* TEAM STYLE */
.team {
    background: #F5F4FA;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
}
.team-member {
    margin: 30px 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-position {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}
.team-list .item:not(:nth-child(4n)) {
    margin-right: 30px;
}
/* END TEAM STYLE */

/* START FOOTER STYLE */
.footer-logo {
    display: block;
    padding-top: 60px;
}
.footer-container {
    display: block;
}

.logo.place-footer,
p.footer-contact.paragraf {
    margin: 0 0 20px;

}
.post-address {
    margin: 0;
    color: var(--page-color);
    font-style: normal;
}
.whitecolor-logo {
    color: var(--page-color);
}
.contact.contact-item {
    display: block;
    padding-top: 10px;
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #FFFFFF60;
}
.list-footer {
    padding-bottom: 60px;
}

/* END FOOTER STYLE */

/* START FILTER OF PROJECTS */
.do-not-show {
    display: none;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    height: 54px;
    margin-top: 94px;
    justify-content: center;
    margin-bottom: 34px;

}
.filter-button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    
    border: none;
    border-radius: 4px;
    color: var(--main-text-color);
    background-color: #F5F4FA;
}
.poster-inter:not(:nth-child(3n)){
    margin-right: 30px;
}
.poster-inter:not(:nth-child(-n+3)){
    margin-bottom: 30px;
}
.list-filter:not(:last-child){
    margin-right: 8px;
    padding: 0;
}

p.type-project {
    margin: 0 0 20px;
    color:var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
p.name-project {
    margin: 20px 0 0;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.poster-container {
    display: flex;
    flex-wrap: wrap;
}
/* END FILTER OF PROJECTS */

/* START ACTIONS STYLES  */
.menu-item:hover,
.menu-item:focus {
    color: var(--activity-color);
}
.filter-button:hover,
.filter-button:focus {
    color:var(--page-color);
    background-color: var(--activity-color);
}
/* END ACTIONS STYLES  */